<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VddsController</servlet-name>
        <servlet-class>com.test.controller.VddsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SnmController</servlet-name>
        <servlet-class>com.test.controller.SnmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IpsmController</servlet-name>
        <servlet-class>com.test.controller.IpsmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BgwController</servlet-name>
        <servlet-class>com.test.controller.BgwController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graphcontroller</servlet-name>
        <servlet-class>com.test.controller.Graphcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxDates</servlet-name>
        <servlet-class>com.test.controller.ajaxDates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BgwController</servlet-name>
        <url-pattern>/BgwController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VddsController</servlet-name>
        <url-pattern>/VddsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SnmController</servlet-name>
        <url-pattern>/SnmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpsmController</servlet-name>
        <url-pattern>/IpsmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graphcontroller</servlet-name>
        <url-pattern>/Graphcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxDates</servlet-name>
        <url-pattern>/ajaxDates</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index1.jsp</welcome-file>
    </welcome-file-list>
</web-app>
